.container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40vw;
  height: 12rem;
}

.backgroundImage {
  position: absolute;
  width: 40vw;
}

.contentContainer {
  position: relative;
  top: 0;
}

.block {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: stretch;
}

.block1 {
  padding-right: 10rem;
}

.block2 {
  padding-left: 10rem;
}

.block3 {
  padding-right: 10rem;
}

.block4 {
  padding-left: 10rem;
}

.block5 {
  padding-right: 10rem;
}

.block6 {
  padding-left: 10rem;
}

/*!* Tablets / small laptops *!*/
/*@media (min-width: 1000px) {*/
/*  html {*/
/*    font-size: 8px;*/
/*  }*/
/*}*/
