:root {
  box-sizing: border-box;
  font-family: Inter Medium;
}

body {
  padding: 0;
  margin: 0;
  user-select: none;
}

/* Base for rem units across the whole app */
html {
  font-size: 16px;
}


@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

/* Tablets / small laptops */
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

/* Phones */
@media (max-width: 480px) {
  html {
    font-size: 6px;
  }
}